@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Indie+Flower|Odibee+Sans&display=swap");

body {
  margin: 0;
  height: 100vh;
}

#center {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background: blue;
}

.noShow {
  display: none;
}

.MuiIconButton-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6px 0px;
  /* align-items: center; */
}
 
.navBar {
  background: lightBlue;
}


.iconText {
 font-size: 12px;
 margin: 0;
}

.home {
  text-align: center;
  /* background: url('https://i.imgur.com/luzPoy8.jpg'); */
  background: url('https://images.pexels.com/photos/933377/pexels-photo-933377.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: blue; */
  height: 95vh;
}

.homeButton {
padding: 20px 100px;
margin-top: 25%;
font-size: 80px;
background: rgba(173, 216, 230, 0.856);
border: 8px solid white;
color: white;
font-family: 'Amatic SC', sans-serif;
}

.homeButton:hover {
  cursor: pointer;
}


.buttonC {
  font-weight: 600;
  outline: none;
  display: inline-block;
  border-radius: 4px;
  /* background-color: #147380; */
  background-color: rgb(140, 189, 204);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

span {
  height: 22px;
  width: 10px;
  background: none;
}

button:focus {
  outline: 0;
}

.buttonC span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.buttonC span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonC:hover span {
  padding-right: 25px;
}

.buttonC:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonC {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


.buttonC:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonC:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buttonC:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* -------- Draw Page ---------- */

.drawPage {
  padding-top: 2vh;
  background: url('https://cdn11.bigcommerce.com/s-67d81/images/stencil/original/products/1928/4158/TE29340__14415.1465288534.jpg?c=2&imbypass=on');
  background: url('https://mediaprojectsix.files.wordpress.com/2015/04/dark-grey-texture-abstract-hd-wallpaper-1920x1200-1223.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.wordDiv {
  display: flex;
  justify-content: center;
  margin: -20px;
  margin-left: -20%;
}

.word {
  /* width: 50%; */
  text-align: center;
  padding: 7px 100px;
  font-size: 80px;
  background: rgba(173, 216, 230, 0.856);
  /* border: 8px solid white; */
  color: white;
  font-family: 'Amatic SC', sans-serif;
}


canvas {
  background: rgb(226, 223, 223);
  box-shadow: 1px 1px 7px 0px rgba(148,148,148,1);
}

.color-picker {
  margin: 2% 0 0 15%;
}

.canvasShown {
  margin-right: 5%;
}

.drawContent {
  display: flex;
  justify-content: center;
}

.drawButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.skipButton {
  margin-top: 30px;
}

.colorChanger {
  width: 50%;
  position: absolute;
  /* background: none; */
  left: 8vw;
  bottom: 4%;
  /* top: 80%; */
  /* top: 80vh; */
  /* background: pink; */
}





/* ----------- Guess Page ------------ */

.wholePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url('https://cdn.pixabay.com/photo/2018/02/06/22/43/painting-3135875_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  height: 91vh;
}

.formColumn {
  margin-top: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: center;
  background: lightblue;
}

.imgColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 900px;
  background: none;
}

.guessImage {
  border: 20px solid #508eb0;
  border-top: none;
  background: rgb(226, 223, 223);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.40), 0 17px 50px 0 rgba(0,0,0,0.40);
  opacity: 100%;
}

.artistName {
  opacity: 95%;
  font-size: 50px;
  font-family: 'Caveat', sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(57, 91, 104);
  width: 670px;
  padding: 15px;
  border: 20px solid  #508eb0;
  border-bottom: none;
  margin-bottom: 0;
}

.result {
  font-size: 20px;
}

.guessButton {
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* ----------- Profile Page ------------- */

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; 
  text-align: center;
  background: #9fc9d6;
  height: 95vh;
}

.profileHeader {
  font-size: 90px;
  font-family: 'Amatic SC', sans-serif;
  color: white;
}

.card-image {
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  text-align: center;
  border: 8px solid rgb(28, 28, 77);
  margin-bottom: 25px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center;
}

.content {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row; 
  text-align: center;
  background: rgb(140, 177, 189);
}

.guessTitle {
  width: 100%;
  margin-top: -5px;
  margin-bottom: -7px;
  font-family: 'Amatic SC', sans-serif;
  color: rgb(236, 240, 240);
}

.guessList {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 90%;
  font-family: 'Caveat';
  font-size: 20px;
  /* height: 30%; */
  overflow:hidden;
  /* background: pink; */
}

.listItem {
  list-style-type:none;
  text-decoration: none;
  width: 45%;
  height: 9%;
  background: rgb(224, 209, 212);
  margin: 2px 5px;
}

.profileImage {
  /* border: 5px solid rgb(28, 28, 77); */
  margin-left: 30px;
  margin-bottom: 15px;
  width: 400px;
  background: rgb(226, 223, 223);
}

.imgAnswer {
  font-size: 30px;
  /* color: rgb(12, 26, 53); */
  color: rgb(236, 240, 240);
  font-weight: 700;
  font-family: 'Amatic SC', sans-serif;
}

.header {
  font-size: 45px;
  color: rgb(12, 26, 53);
  /* background: blue; */
}

/* ----------Drawings Page ---------- */

.mainDrawings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1d2637;
  /* background-image: url("https://i.pinimg.com/originals/10/69/a7/1069a7113c399a9a9ca3185769c59134.gif");
  background-size: 100%; */
  height: 100%;
}


.description {
  background: none;
  color: rgb(155, 217, 233);
  /* margin-top: 40px; */
  /* margin-bottom: 70px; */
}

.awesome {
  height: 450px;
  margin-top: -50px;
}

.imgBackground {
  text-align: center;
  background: #080808;
  /* background: blue; */
  width: 100%;
  padding-bottom: 5px;
  margin-top: -150px;
}

.drawingsHeader {
  color: rgb(114, 216, 241);
  font-size: 90px;
  margin: 0;
  margin-top: 5%;
  font-family: 'Amatic SC', sans-serif;
}

.all {
  position: absolute;
  font-size: 10px;
  top:  5%;
  left: 47.4%;
  font-size: 40px;
  color: rgb(114, 216, 241);
}

.background {
  background: none;
}

.imagesAll {
  width: 600px;
  height: 450px;
  background: rgb(191, 223, 221);
  border: 10px solid #131925;
}

.imgBackground2 {
  background: rgb(191, 223, 221);;
}

/* ----------Draw Page ------------- */

