* {
  background: lightblue;
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: blue;
}

.noShow {
  display: none;
}
 

.buttonC {
  font-weight: 600;
  outline: none;
  display: inline-block;
  border-radius: 4px;
  background-color: #147380;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

span {
  height: 22px;
  width: 10px;
  background: none;
}

.buttonC span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonC span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonC:hover span {
  padding-right: 25px;
}

.buttonC:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonC {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


.buttonC:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonC:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buttonC:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



canvas {
  background: lightgrey;
  box-shadow: 1px 1px 7px 0px rgba(148,148,148,1);
}

.color-picker {
  margin: 1rem 1rem 0 1rem;
}

